body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 1000px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-fluid {
    width: 60%;
    height: auto; 
    max-height: 400px; 
    border-radius: 10px;
}


h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #28a745;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    color: #555;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}
